In [1]:
#add (something)to the end of a written documnets
list1=[1,2,3,4]
list1.append(5)          #append for to add the number at the end of the documnet
list1

[1, 2, 3, 4, 5]

In [2]:
list=[]
list.append(100)
list.append(200)
list.append(300)
list

[100, 200, 300]

In [3]:
list1.append(100,200)           #append for only one

TypeError: list.append() takes exactly one argument (2 given)

In [5]:
list1.append([100,200])
list1

[1, 2, 3, 4, 5, [100, 200], [100, 200]]

In [12]:
list.append('apple')
list

[100, 200, 300, 'apple', 'apple']

In [18]:
#input list=[1,2,3,4,5]
#create a new list=[1,4,9,16,25]
#write a normal code 

#method -1

list=[1,2,3,4,5]
for i in list:
    print(i*i)
    
    
    
#method -2(****)

list=[1,2,3,4,5]
output=[]
for i in list:
    output.append(i*i)
output

1
4
9
16
25

[1, 4, 9, 16, 25]

In [54]:
#list3=['h#d','beng#luru','delhi']
#out=['h#d','beng#luru']


list3=['h#d','beng#luru','delhi']           #pop is only for the indexing(numbers)
output=[]
for i in list3:
    if '#' in i:
        output.append(i)
    
output

['h#d', 'beng#luru']

In [56]:
list2=['hyd','beng','delhi']
#out=['Hyd','Beng','Delhi']
output=[]
for i in list2:                         #1st letter to be capital ----->capitalize()
    print(i.capitalize())
output


[<o/p><for loop]
output1=[i.capitalize() for i in list2]
output1

Hyd
Beng
Delhi

['Hyd', 'Beng', 'Delhi']

In [65]:
#create the list of 20 no's from 1 to 20
##########method-1###########
for i in range(1,21):
    print(i)


###########methods-3############
numbers1=[i for i in range(1,21)]
numbers1


##########method-2##########
numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [66]:
#list3=['h#d','beng#luru','delhi']
#out=['h#d','beng#luru']


list3=['h#d','beng#luru','delhi']          
output=[]
for i in list3:
    if '#' in i:
        output.append(i)
    
output



#[<o/p>,<for loop>,<if_con>
output1=[i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

In [73]:
list3=['abcd','abc','ab','a']
#elements are >3
#['ac','a']
output=[]
for i in list3:
    if len(i)<3:
         output.append(i)
output

['ab', 'a']

In [80]:
output=[i for i in list3 if len(i)<3]

output

['ab', 'a']

In [76]:
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if 1%2==0:
        output.append('even:{}'.format(i))
    else:
         output.append('odd:{}'.format(i))
output

['odd:1', 'odd:2', 'odd:3', 'odd:4', 'odd:5', 'odd:6']

In [79]:
#[<if_o/p><if_cond><else_cond><else_o/p><for>]


output1=['even:{}'.format(i)  if 1%2==0  else 'odd:{}'.format(i) for i in list1]
output1

['odd:1', 'odd:2', 'odd:3', 'odd:4', 'odd:5', 'odd:6']

$count$

In [85]:
list1=['A','B','C']
list1.count()

TypeError: list.count() takes exactly one argument (0 given)

In [84]:
count=0
for i in list1:
    if i=='B':
        count=count+1
print(count)

1

$EXTEND$

In [87]:
list1=['A','B','C']
list2=[1,2,3,4]                 #list2 is concenated with the list1 and list1 is o/p
list1.extend(list2)             #list1 is updated with list2 values
list1

['A', 'B', 'C', 1, 2, 3, 4]

In [90]:
list1=['A','B','C']
list2=[1,2,3,4]    
list1.append(list2)
list1

['A', 'B', 'C', [1, 2, 3, 4]]

*append-------it will add the element at last(any type of elemnet)
--list1=[1,2]
--list2=[''A','B]
-list1.append(list2)=[1,2,['A','B']]




*Extend will update the list by adding new elements, the resukt alsosave in a same list
-list1=[1,2]
--list2=[''A','B]
-list1.extend(list2)=[1,2,'A','B']

*concate will add two list,but will not update in a same list
list1=[1,2]
--list2=[''A','B]
-list1+list2=[1,2,'A','B']

In [92]:
#CONCATE#



list1=['A','B','C']
list2=[1,2,3,4]    
list1+list2
print(list1)



list3=list1+list2
print(list3)

['A', 'B', 'C']
['A', 'B', 'C', 1, 2, 3, 4]

$ITERATOR$

-iterator word--------------->loop
-the element we can print using for loop
-string='py'we can print each letter using loop
-list2-[1,2] we can print each letter using loop

In [93]:
val=reversed('python')
val

In [94]:
for i in val:
    print(i)

n
o
h
t
y
p

In [95]:
list2=[1,2,3]
list1.extend('python')
list2.extend('python')
list1

['A', 'B', 'C', 'p', 'y', 't', 'h', 'o', 'n']

In [106]:
list2.pop()            #Remove and return item at index (default last).
                              #defaulty removing the last elemnet(index=-1)
                        #-1 is the last value

'n'

In [101]:
list1
list1.pop()

'p'

In [108]:
list2.pop(100)

IndexError: pop index out of range

In [109]:
list1=[100,200,100,300]            #duplications are allowed
list1.remove(100)                  #1st occurenace will gone
list1                               #

[200, 100, 300]

In [110]:
list1=[100,200,300]         #del is a methods
del list1[2]                 #del can be applied for any formates(list,index,string)
list1                           #del is remove the direction position of the element

[100, 200]

In [ ]:
-index
-insert
-reverse------------>reversed
-sort--------------->sorted

In [132]:
list1=[1,2,3,'A','B','C']
list2=[100,200,'APPLE','BAT']
list1.index('A')
list1

[1, 2, 3, 'A', 'B', 'C']

In [123]:
list1=[1,2,3,'A','B','C']
list2=[100,200,'APPLE','BAT']              #insert for to inserting the elements along with the position of the elements
list1.insert(5,100)
list1

[1, 2, 3, 'A', 'B', 100, 'C']

In [129]:
list1=[1,2,3,'A','B','C']
list2=[100,200,'APPLE','BAT']            #reverse the the elements in the list

list2.reverse()
list2

['BAT', 'APPLE', 200, 100]

In [136]:
list1=[5,61,2,3,56]
list2=[100,200,'APPLE','BAT']
                                        #sort is for the indexing------numbers
list1.sort()                             #ascending order
list1

[2, 3, 5, 56, 61]

In [137]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]
#o/p:ram age is 25
#rbert age is 30
#raheem age is 35
for i in list1:
    print(i)

Ram
Robert
Raheem

In [150]:
#ZIP -------------------to retired the values from the 2 lists
#method-1#########
list1=['Ram','Robert','Raheem']
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(" {}  age is {}".format(i,j))

 Ram  age is 25
 Robert  age is 30
 Raheem  age is 35

In [170]:
list1=[100,200,300]
list2=[25,30,35]
output=[]
#o/p=[125,230,335]
#o/p=[i+j for i,j in zip(list1,list2)]
#o/p
for i,j in zip (list1,list2):
    output=i+j
    print('{} is added as {} and {}'.format(i,j,output))

100 is added as 25 and 125
200 is added as 30 and 230
300 is added as 35 and 335

In [6]:
# take 5 questions in list1
# take corresponding 5 answers in another list2
# iterate through list1
# every quetion should print
# answer=input("tell the answer")
# answer will check in list2 
# if it is there : marks=marks+1
# else: No marks

# how many write answers you made, how may answers you got

######################################
# list1=['Who is PM of india','What is the capital of india','Who is President of india']
# list2=['Modi','Delhi','Draupadi']
# marks=0
# correct_answr=0
# for i in range(len(list1)):
#   print('Q1:'<>)
#   answer=input("enter the answer")
#   if answer.lower()==list2.index(i):
#          marks+=1


list1=['Who is PM of india','What is the capital of india','Who is President of india']
list2=['Modi','Delhi','Draupadi']
marks=0

for i in range(len(list1)):
    print(list1[i])
    answer=input("enter the answer :").capitalize()
    if answer==list2[i]:
        marks+=1
print("your total obtained marks",marks)

Who is PM of india
enter the answer :modi
What is the capital of india
enter the answer :delhi
Who is President of india
enter the answer :draupadi
your total obtained marks 3