$Dictionaries$

In [ ]:
#{key:value}

In [12]:
d1={'Ram':25,"Raheem":30,"Robert":35}    #keys=ram,raheem,robert
d1                                        #values:25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [13]:
d1['dfd'] = 67

In [15]:
d1.update({"efawehf":235345})
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35, 'dfd': 67, 'efawehf': 235345}

In [4]:
d2={25:'Ram',30:"Raheem",35:"Robert"}               #keys and values  will be interchange
d2

{25: 'Ram', 30: 'Raheenm', 35: 'Robert'}

In [5]:
d3={"even":[2,4,6],"odd":[3,1,5]}
d3

{'even': [2, 4, 6], 'odd': [3, 1, 5]}

In [7]:
d4={[2,4,6]:"even",[3,1,5]:"odd"}               #fail
d4                                                #in list we cann't interchange

TypeError: unhashable type: 'list'

In [8]:
d5={"even":(2,4,6),"odd":(3,1,5)}
d5

{'even': (2, 4, 6), 'odd': (3, 1, 5)}

In [9]:
d6={(2,4,6):"even",(3,1,5):"odd"}
d6                                                  #in tuple interchange will  be done

{(2, 4, 6): 'even', (3, 1, 5): 'odd'}

In [11]:
d7={{'friuts':'Apple','flowers':'Rose'}}
d7

TypeError: unhashable type: 'dict'

In [14]:
a=[1,2]
b=(3,4)
a

[1, 2]

In [15]:
a=[1,2]
b=(3,4)
b

(3, 4)

In [16]:
a,b=[1,2]
c,d=(3,4)
a,b

(1, 2)

In [17]:
a,b=[1,2]
c,d=(3,4)
c,d

(3, 4)

In [18]:
a,b=[1,2]
c,d=(3,4)
c

3

In [19]:
a,b=[1,2]
c,d=(3,4)
d

4

In [18]:
a,b,c=1,2,7                
a,b

(1, 2)

In [ ]:
-Dictionary is key:value pair
-at value position u can take any data type
-at key position ---------->list and dictionary fails
-in dictionary diplicates will not allowed
because key:values are paired so diplications are not allowed
-if u will update a key value,latest value it will take

In [21]:
d1={'A':1,'B':2,'C':3}
d1

{'A': 1, 'B': 2, 'C': 3}

In [22]:
#in dictionary diplicates will not allowed
d2={'A':1,'B':2,'A':3}
d2

{'A': 3, 'B': 2}

In [23]:
type(d1)

dict

In [ ]:
-str
-list
-dict
-int
-float
-bool
-complex
-tuple
-set

In [25]:
d1={'Ram':25,"Raheem":30,"Robert":35}   
max(d1)                 #max-min values are based on keys only

'Robert'

In [27]:
d1={'Ram':25,"Raheem":30,"Robert":35}    
min(d1)                #based on ascii values

'Raheem'

In [28]:
len(d1)

3

In [29]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
d2={1:2,3:4}           #keys are added 
sum(d2)                 #1+3=4

4

In [33]:
d3={100:1,200:2}
sum(d3)

300

**if keys has numeric then we can do sum

$IN$

In [37]:
d1={'Ram':25,"Raheem" :30,"Robert":35} 
'Ram' in d1
"Raheem" in d1                                  #keys are important
"Robert" in d1

False

In [38]:
d1={'Ram':25,"Raheem" :30,"Robert":35} 
25 in d1
30 in d1
35 in d1

False

In [36]:
d1={'Ram':25,"Raheem" :30,"Robert":35} 
for i in d1:
    print(i)

Ram
Raheem
Robert

$INDEX$

In [41]:
#l1=[1,2,3]
#l1[0]

#s1="apple"
#s1[0]
d1={'Ram':25,"Raheem" :30,"Robert":35} 
d1[0]

KeyError: 0

In [42]:
d1={'Ram':25,"Raheem" :30,"Robert":35} 
d1['Ram']

25

In [43]:
for key in d1:
    print(key,d1[key])

Ram 25
Raheem 30
Robert 35

In [45]:
for key in d1:
    print("the age of {} is {}".format(key,d1[key]))

the age of Ram is 25
the age of Raheem is 30
the age of Robert is 35

In [47]:
for i in range(len(d1)):
    print(i,d1[i])

KeyError: 0

In [20]:
a = 10
a

10

In [48]:
for i in range(len(l1)):
    print(i,l1[i])

0 1
1 2
2 3

**creating a empty dictionary and update**

In [49]:
s=""
for i in 'apple':                #update in strings
    s=s+i
print(s)

apple

In [53]:
l=[]                                     #update in lists
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
d1={}                                    #update in dictionary
d1['friuts']='Apple'
d1

{'friuts': 'Apple'}

In [54]:
d2={}
d2['Name']="Renuka"
d2['Qualification']='Bacholor'
d2['Place']='Vijayawada'
d2

{'Name': 'Renuka', 'Qualification': 'Bacholor', 'Place': 'Vijayawada'}

In [23]:
#wap create a dictionary based on 2 lists
#names=['Ram',"Raheem","Robert"] 
#age=[25,30,35]


#method-1
names=['Ram',"Raheem","Robert"] 
age=[25,30,35]
d1={}
for i,j in zip(names,age):
    d1[i]=j
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [26]:
d1={}
for i in range(len(names)):
    print(i,names[i],age[i])
    dict1[names[i]]=age[i]
d1={names[i] :age[i] for i in range(len(names))}
d1={names :age for names,age in zip(names,age)}
d1

0 Ram 25
1 Raheem 30
2 Robert 35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [63]:
#method-2
d1={}
for i in range(len(names)):
    d1[names[i]]=age[i]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [65]:
#method-3
d1={names[i]:age[i] for i in range(len(names))}              #dictionary comprehension
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [66]:
#lists
list1=[]
for i in range(len(names)):
    list1.append(i)
list1=[i for i in range (len(names))]
list1

[0, 1, 2]

In [33]:
#wap take 5 random numbers
#and create a dictionary with even and odd
#o/p:{'even':[20,22],'odd':[19,21,23]

import random
l1=[]
l2=[]
dict1={}

for i in range(5):
    num=random.randint(19,23)
    if num%2==0:
        l1.append(num)
    else:
        l2.append(num)
        
dict1['even']=l1
dict1['odd']=l2
dict1

{'even': [20, 22], 'odd': [19, 19, 19]}

In [31]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']