In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
#take 1 dict
#take 2nd dict
#copy 1st dict into 2nd
#clear 1st dict
#and print both

d1={'a':20,'b':25,'c':29}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 20, 'b': 25, 'c': 29}

$pop-popitem-del$

In [7]:
#pop----it removes a specific key and returns the va
d2.pop('c')

29

In [8]:

print(d2)

{'a': 20, 'b': 25}

In [9]:
#popitem----default,it remove the last value
d2.popitem()      #-----LIFO-last in first order
d2

{'a': 20}

In [17]:
#del-----is a keyword,it deleted the item by providing specific key
d3={'a':20,'b':24,'c':30}
d3
del d3['c']
d3

{'a': 20, 'b': 24}

In [10]:
l1=[1,2,3,4,5]
del l1[1]        #-----------list is access by index
l1

[1, 3, 4, 5]

In [ ]:
-items/values/keys
-if iprovide 2 lists u know how to make dict
-if i provide dict, u know how to generate
-create e empty string,dict
-counter
-summ
-func
-pop/popitem/del
-copy/clear

$from keys-get$

In [20]:
d3={'a':20,'b':24,'c':30}
d3

{'a': 20, 'b': 24, 'c': 30}

In [21]:
d3['b']

24

In [23]:
d3.get('b')

24

In [ ]:
-how many ways we can do
-what o/p it is returning
-what is the difference
-we can access the value by providing keyas index and key in get method
-but if the key is not present in dict,key as index will give key error
-get method will not return anything and no error

$from keys$

In [28]:
#it create a new dictionary from the exisiting dictionary/with empty dict
#create a new dictionary with iterable key
d4=d3.fromkeys('raheem')
d4

{'r': None, 'a': None, 'h': None, 'e': None, 'm': None}

In [29]:
d4=d3.fromkeys('raheem',3)
d4

{'r': 3, 'a': 3, 'h': 3, 'e': 3, 'm': 3}

In [30]:
d4={}.fromkeys('rohit',3)
d4

{'r': 3, 'o': 3, 'h': 3, 'i': 3, 't': 3}

In [31]:
d4

{'r': 3, 'o': 3, 'h': 3, 'i': 3, 't': 3}

In [33]:
d3={}.fromkeys([1,2,3],'1st 3 numbers')
d3

{1: '1st 3 numbers', 2: '1st 3 numbers', 3: '1st 3 numbers'}

In [34]:
for i in [1,2,3]:
    print(i)

1
2
3

$setdefault$

In [36]:
d5={}
d5.setdefault('rohit',40)
d5

{'rohit': 40}

In [39]:
d5.setdefault('naresh')
d5.setdefault('naresh',['DS','DE','MLoop'])    #setting the values as default,so it cann't take the values
d5

{'rohit': 40, 'naresh': None}

In [42]:
d5.setdefault('naresh')
d5.setdefault('naresh',['DS','DE','MLoop'])
d5['naresh']=['DS','DE','MLoop']
d5

{'rohit': 40, 'naresh': ['DS', 'DE', 'MLoop']}

$update$

* it  insert the particular items to the dictionary *

In [44]:
d5

{'rohit': 40, 'naresh': ['DS', 'DE', 'MLoop']}

In [47]:
d1={'a':20,'b':25,'c':29}
d2={'a': 21, 'b': 25, 'c': 29,'d':30}            #duplication are not allowed in dict
d2.update(d1)
print(d2)

{'a': 20, 'b': 25, 'c': 29, 'd': 30}

In [48]:
l1=[1,2,3]
l2=[4,5]
l2.extend(l1)
print(l2)

[4, 5, 1, 2, 3]

In [50]:
l1=[1,2,3]
l2=[4,5]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5]

-update method will update a dict with elements from another dict*
-it modifies the dict

In [52]:
t1=[(1,2),(3,4)]
d1={}
d1.update(t1)
d1

{1: 2, 3: 4}