$Strings writeup$

how to read the strings

Strings in python are surrounded by either single quotation marks, or double quotation marks

#single quotes/double quotes/triple quotes

In [1]:
string1='python'   # single quote
string1

'python'

In [2]:
string2="python"  # double quotes
string2

'python'

In [3]:
string3='hello "python"'
print(string3)

hello "python"

In [ ]:
string4="hello 'python'"
print(string4)

$ docstring$

In [ ]:
the docstring is the triple-quoted string

In [6]:
def hello():
    """
    im creating a hello function
    arguments: None
    return:   None
    """
    print("good moring")
hello()

good moring

$type$

In [ ]:
type() function to determine the type of a variable or value

In [8]:
string1

'python'

In [9]:
type(string1)

str

$𝑙𝑒𝑛$

In [ ]:
The len() function in Python is used to determine the length of a sequence, such as a string, list, or tuple.

In [10]:
len(string1)

6

$max-min$

In [ ]:
 lists,  to find the maximum and minimum elements, respectively, based on their ASCII values.

In [11]:
string1='pP'
max(string1)

'p'

In [13]:
string22='Pp'
min(string22)

'P'

$ addition of two strings(concatenation)$

In [ ]:
you can concatenate (add) two strings using the + operator.

In [18]:
string1 = "Hello"
string2 = "World"

concatenated_string = string1 + " " +string2

print(concatenated_string)

Hello World

$multiplication$

In [ ]:
the multiplication operator (*) can be used to create a new string by repeating an existing string a certain number of times

In [22]:
string1= "abc"
multiplied_string = string1 * 3  

print(multiplied_string)

abcabcabc

$subtraction$

In [27]:
string1 = "23"
string2 = "3"

result = string1-string2
print(result)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

$division$

$in opertor (for loop)$

In [ ]:
loop is used to insert each character of a string into a new string

In [29]:
string1='hai how are you'
count=0
for i in string1:
    if i=='a':
        count+=1
print(count)

2

$ index$

In [ ]:
 index() method is used to find the index of the substring

In [31]:
for i in string1:   
    print(i,end=' ')
    
    
for i in range(len(string1)): 
    print(i,string1[i])

h a i   h o w   a r e   y o u 0 h
1 a
2 i
3
4 h
5 o
6 w
7
8 a
9 r
10 e
11
12 y
13 o
14 u

In [38]:
str1='hai how are you , im good'
str1.index('i')

2

$mutable condition$

In [ ]:
Mutability in Python:
Mutable Objects: Objects whose state or value can be changed after 
they are created are considered mutable. Examples include lists, dictionaries, and sets.

In [32]:
list1=[100,200,300]  # 100 ====== 1000
list1[0]=1000
list1

[1000, 200, 300]

$slice$

In [ ]:
start: The starting index of the slice (inclusive).
stop: The ending index of the slice (exclusive).
step: The step or stride, indicating how many characters to skip (default is 1).

In [34]:
string1='hai how are you'
string1[2:10]

'i how ar'

In [35]:
string1='hai how are you'
string1[2:10:3]

'ioa'

In [36]:
for i in range(2,-14,-2):print(i,end=' ')

2 0 -2 -4 -6 -8 -10 -12

$stringe methods:$

capitalize/upper/lower/casefold

In [ ]:
capitalize(): This method returns a copy of the string with its first character capitalized and the rest in lowercase.
upper(): This method returns a copy of the string with all characters in uppercase
lower(): This method returns a copy of the string with all characters in lowercase.

In [37]:
string1='welcome'
string1.capitalize()

'Welcome'

In [41]:
string1="renuka"
#out=['Hyd','Beng','Delhi']

for i in string1:                         #1st letter to be capital ----->capitalize()
    print(i.capitalize())

R
E
N
U
K
A

In [42]:
#upper
string1='weLCome'

print(string1.upper())

WELCOME

In [46]:
string11 = "Hello, World!"
lowercased_string = string11.upper()

print(lowercased_string)

HELLO, WORLD!

In [43]:
#lower
string1='weLCome'


print(string1.lower())

welcome

In [45]:
string11 = "Hello, World!"
lowercased_string = string11.lower()

print(lowercased_string)

hello, world!

In [44]:
string1="python"
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Python
PYTHON
python

$index/find$

In [ ]:
the index() and find() methods are used to locate the index of a substring within a string

In [48]:
#index

string1='welcome python'

# index of 'c'
string1.index('c')

3

In [49]:
str1.index('i',str1.index('i')+1)

18

In [62]:
my_string = "Hello, World!"

# Find the index of the substring "world" (case-insensitive)
index = my_string.find("Hello")

print("Index of 'Hello':", index)

Index of 'Hello': 0

$count$

In [ ]:
the count() method is used to count the number of occurrences of a substring in a given string

In [63]:
string1='hai how are you and' 
# how many 'a' are there
# what are the indexes of 'a'

count=0
for i in string1:
    if i=='a':
        count+=1
        
print(count)

string1.count('a')

3

3

$ replace$

In [ ]:
the replace() method is used to replace occurrences of a specified substring with another substring in a given string

In [64]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

$  - lstrip/rstrip/strip$

In [ ]:
 Python used for removing leading (left), trailing (right), or both leading and trailing whitespace from a string.
lstrip(): This method returns a copy of the string with leading whitespace removed.
rstrip(): This method returns a copy of the string with trailing whitespace removed.
strip(): This method returns a copy of the string with both leading and trailing whitespace removed.

In [65]:
str1=' hello how are you '
str2=" hello how are you"
str3="hello how are you "
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

hello how are you
hello how are you
 hello how are you

In [66]:
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())

hello how are you
hello how are you
hello how are you

$ - startswith/endswith$

In [ ]:
startswith(): This method returns True if the string starts with the specified prefix; otherwise, it returns False

In [ ]:
endswith(): This method returns True if the string ends with the specified suffix; otherwise, it returns False.

In [67]:
str1='hai how are you'
str1.startswith('hai how are you')

True

In [68]:
str1.endswith('you')

True

In [69]:
str1.startswith(str1)

True

In [70]:
str1.endswith(str1)

True

In [ ]:
  - isalpha/isnumeric/isalnum

In [ ]:
isalpha(): This method returns True if all characters in the string are alphabetic (composed of letters), and the string is not empty. Otherwise, it returns False.

In [89]:
str1='90hai hello 8 888how are you'
str1.isnumeric()

False

In [91]:
str1='90hai hello 8 888how are you'
str1.isalpha()

False

In [86]:
str1='90hai hello 8 888how are you'
str1.islower()

True

In [87]:
str1='90hai hello 8 888how are you'
str1.isupper()

False

In [ ]:
isnumeric(): This method returns True if all characters in the string are numeric (composed of digits), and the string is not empty. Otherwise, it returns False.

In [79]:
str1='90hai hello 8 888how are you'
str1.isalnum()

False

$  - split$

In [ ]:
split  is used to split a string into a list of substrings based on a specified delimiter

In [80]:
str1='hai howw are you'
str1.split()

['hai', 'howw', 'are', 'you']

In [81]:
str1='hai how,are you'
str1.split(',')

['hai how', 'are you']

In [82]:
str1='hai how,are you'
str1.split('a')

['h', 'i how,', 're you']

In [83]:
str1='hai how,are you'
str1.split()

['hai', 'how,are', 'you']

In [84]:
str1='hai how,are you'
str1.split()

['hai', 'how,are', 'you']

In [85]:
str1='%%%hello%%%%'
str1.strip('%')

'hello'