$TUPLE$

*Creating a Tuple*

- A tuple is created by placing all the items (elements) inside parentheses (), separated by commas.
- A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).
- Tuples are used to store multiple items in a single variable.A tuple is a collection which is ordered

*types of tuples*

In [1]:
# Empty tuple
tup1=()
print(tup1)

()

In [2]:
# Tuple having integers
tup2=(1,2,3,4,5)
print(tup2)

(1, 2, 3, 4, 5)

In [4]:
# tuple with mixed datatypes
tup3=(1,'hai',2.3,-6)
print(tup3)

(1, 'hai', 2.3, -6)

In [6]:
# nested tuple
tup4=(1,[1,2,3,4],"hello",(4,3,2,1))
print(tup4)

(1, [1, 2, 3, 4], 'hello', (4, 3, 2, 1))

In [7]:
tup4=(1,[1,2,3,4],"hello",(4,3,2,1))
print(type(tup4))

<class 'tuple'>

$TYPE()$

- the type() function to know which class a variable or a value

In [8]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [9]:
#we can also create tuples without using parentheses:
tup4=1,[1,2,3,4],"hello",(4,3,2,1)
print(tup4)

(1, [1, 2, 3, 4], 'hello', (4, 3, 2, 1))

- creating a tuple with one element is a bit tricky. Having one element within parentheses is not enough.

We will need a trailing comma to indicate that it is a tuple,

In [13]:
var1 = 'Hello' 
var2 = ("Hello",)
print(var1)
print(var2)

Hello
('Hello',)

In [14]:
var1 = ("hello")
print(type(var1))  

# Creating a tuple having one element
var2 = ("hello",)
print(type(var2))

<class 'str'>
<class 'tuple'>

*The tuple() Constructor*

- it is also possible to use the tuple() constructor to make a tuple.

In [15]:
tuple1 = tuple(("apple", "banana", "cherry"))
print(tuple1)

('apple', 'banana', 'cherry')

$Access Python Tuple Elements$

*1. Indexing*

- We can use the index operator [] to access an item in a tuple, where the index starts from 0.

In [2]:
letters = ("p", "r", "o", "g", "r", "a", "m", "i", "z")

print(letters[0])  
print(letters[5])

p
a

- 2. Negative Indexing

- Python allows negative indexing for its sequences.

In [3]:
letters = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

print(letters[-1])   
print(letters[-3])

z
m

*3. Slicing*

-We can access a range of items in a tuple by using the slicing operator colon

In [4]:
# accessing tuple elements using slicing
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# elements 2nd to 4th index
print(my_tuple[1:4])  #  prints ('r', 'o', 'g')

# elements beginning to 2nd
print(my_tuple[:-7]) # prints ('p', 'r')

# elements 8th to end
print(my_tuple[7:]) # prints ('i', 'z')

# elements beginning to end
print(my_tuple[:]) # Prints ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [5]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[:4])

('apple', 'banana', 'cherry', 'orange')

In [6]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[4:])

('kiwi', 'melon', 'mango')

$Update Tuples$

-Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

In [10]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

*Add Items*

-tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

-1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list,
-add your item(s), and convert it back into a tuple.

In [12]:
tuple1 = ("apple", "banana", "cherry")
y = list(tuple1)
y.append("orange")
tuple1 = tuple(y)
tuple1

('apple', 'banana', 'cherry', 'orange')

*Remove Items*

-Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround 
-as we used for changing and adding tuple items:

In [16]:
tuple1 = ("apple", "banana", "cherry")
y = list(tuple1)
y.remove("apple")
tuple1 = tuple(y)
tuple1

('banana', 'cherry')

$del keyword$

In [21]:
#you can delete the tuple completely
tuple1 = ("apple", "banana", "cherry")
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

$Loop Tuples$

In [22]:
tuple1 = ("apple", "banana", "cherry")
for x in tuple1:
  print(x)

apple
banana
cherry

*Loop Through the Index Numbers*

-You can also loop through the tuple items by referring to their index number.

-Use the range() and len() functions to create a suitable iterable.

In [23]:
tuple1 = ("apple", "banana", "cherry")
for i in range(len(tuple1)):
  print(tuple1[i])

apple
banana
cherry

*Using a While Loop*

- You can loop through the tuple items by using a while loop.

- Use the len() function to determine the length of the tuple, then start at 0 and loop 
- your way through the tuple items by referring to their indexes.

In [27]:
tuple1 = ("apple", "banana", "cherry")
i = 0
while i < len(tuple1):
  print(tuple1[i])
  i = i + 1

apple
banana
cherry

$Join Tuples$

In [28]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Asterisk*

- If the number of variables is less than the number of values, you can add an * to the variable name and 
- the values will be assigned to the variable as a list:

In [29]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

- If the asterisk is added to another variable name than the last, 
- Python will assign values to the variable until the number of values left matches the number of variables left.

In [30]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

$Join Tuples$

- To join two or more tuples you can use the + operator:

In [32]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

*Multiply Tuples*
- If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [33]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

$Tuple Methods$

- Method	Description
- count()	Returns the number of times a specified value occurs in a tuple
- index()	Searches the tuple for a specified value and returns the position of where it was found

In [35]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p')) 
print(my_tuple.index('l'))

2
3