In [1]:
number=100
number

100

In [2]:
type(number)

int

case1:
int------>float

In [7]:
float_number=float(number)   #convert int into float as 100 is 100.0
float_number

100.0

In [8]:
type(float_number)

float

In [9]:
#100 as string ----'100'
string_number=str(number)
string_number

'100'

case3:integer to boolean

In [10]:
boolean_number=bool(number)
boolean_number

True

In [11]:
type(boolean_number)

bool

In [13]:
bool(0)   # when it will provide False

False

In [5]:
#100-------?   complex(100)
complex_number=complex(number)
complex_number

NameError: name 'number' is not defined

number1=100
float_number=float(number1)
string_number=str(number1)
boolean_number=bool(number1)
complex_number=complex(number1)

convert float to all other types

number2=100.5
int_number=int(number2)   #100
string_number=str(number2)  #'100.5'
complex_number=complex(number2)   #100.5+0j
boolean_number=bool(number2)

In [6]:
number2=100.5
int_number=int(number2)
int_number

100

In [7]:
number2=100.5
string_number=str(number2)
string_number

'100.5'

In [8]:
number2=100.5
complex_number=complex(number2)
complex_number

(100.5+0j)

In [9]:
# I have a doubt,why 100.5 is not 101
round(100.6)

101

100
100.5
'100'
True
100+5j

string to other data types

#case-1
string_value1='apple'
int(string_value1)
float(string_value1)
bool(string_value1)
complex(string_value1)

In [11]:
string_value1='apple'
int(string_value1)

ValueError: invalid literal for int() with base 10: 'apple'

In [12]:
string_value1='apple'
float(string_value1)

ValueError: could not convert string to float: 'apple'

In [13]:
string_value1='apple'
bool(string_value1)

True

In [14]:
string_value1='apple'
complex(string_value1)

ValueError: complex() arg is a malformed string

In [15]:
string_value2='10.5'
complex(string_value2)

(10.5+0j)

In [18]:
complex(10.5)
complex('10.5')

(10.5+0j)

In [19]:
float(10.5)

10.5

In [20]:
float('10.5')

10.5

In [21]:
int(10.5)

10

In [22]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [23]:
float('10')
int(10.5)

10

In [24]:
float('10')

10.0

In [25]:
int(10.5)

10

converting string to integer with out error

In [26]:
string1='10.5'
n1=float(string1)
n2=int(n1)
n2

10